@font-face {
    font-family: 'heebomedium';
    src: url('../fonts/heebo-medium-webfont.eot');
    src: url('../fonts/heebo-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/heebo-medium-webfont.woff2') format('woff2'),
    url('../fonts/heebo-medium-webfont.woff') format('woff'),
    url('../fonts/heebo-medium-webfont.ttf') format('truetype'),
    url('../fonts/heebo-medium-webfont.svg#heebomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'heeboregular';
    src: url('../fonts/heebo-regular-webfont.eot');
    src: url('../fonts/heebo-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/heebo-regular-webfont.woff2') format('woff2'),
    url('../fonts/heebo-regular-webfont.woff') format('woff'),
    url('../fonts/heebo-regular-webfont.ttf') format('truetype'),
    url('../fonts/heebo-regular-webfont.svg#heeboregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'heebobold';
    src: url('../fonts/heebo-bold-webfont.eot');
    src: url('../fonts/heebo-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/heebo-bold-webfont.woff2') format('woff2'),
    url('../fonts/heebo-bold-webfont.woff') format('woff'),
    url('../fonts/heebo-bold-webfont.ttf') format('truetype'),
    url('../fonts/heebo-bold-webfont.svg#heebobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'heeboblack';
    src: url('../fonts/heebo-black-webfont.eot');
    src: url('../fonts/heebo-black-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/heebo-black-webfont.woff2') format('woff2'),
    url('../fonts/heebo-black-webfont.woff') format('woff'),
    url('../fonts/heebo-black-webfont.ttf') format('truetype'),
    url('../fonts/heebo-black-webfont.svg#heeboblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'vollkornitalic';
    src: url('../fonts/vollkorn-italic-webfont.eot');
    src: url('../fonts/vollkorn-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/vollkorn-italic-webfont.woff2') format('woff2'),
    url('../fonts/vollkorn-italic-webfont.woff') format('woff'),
    url('../fonts/vollkorn-italic-webfont.ttf') format('truetype'),
    url('../fonts/vollkorn-italic-webfont.svg#vollkornitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding-top: 27px
}

.container {
    max-width: 1032px;
    margin: auto;
}

#navigation {
    list-style: none;
    display: flex;
    justify-content: flex-end
}

header nav ul li {
    margin-left: 33px
}

header nav ul li a {
    font-family: 'heebomedium', sans-serif;
    font-size: 20px;
    line-height: 29px;
    text-align: right;
    text-decoration: none;
    color: #000000;
}

header nav ul li:hover {
    transform: scale(1.3);
    transition: 0.3s;
}

/*Main banner*/
.main_banner {
    padding-top: 140px;
    padding-bottom: 71px;
}

.m_ban_container {
    max-width: 858px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.m_b_article {
    max-width: 510px;
}

.main_banner h1 {
    font-family: 'heebobold', sans-serif;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
    margin-bottom: 40px;
}

.main_banner p {
    font-family: 'heeboregular', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
    margin-bottom: 47px;
}

.main_banner a {
    font-family: 'heebomedium', sans-serif;
    font-size: 20px;
    line-height: 29px;
    text-decoration: none;
    color: #FFFFFF;
    padding: 13px 21px 13px 20px;
    background: #FF6464;
    border-radius: 2px;
    display: inline-block;
}

.img_jhon {
    max-width: 243px;
    align-content: start;
}

.img_jhon img {
    width: 100%;
    display: block;
}

.main_banner a:hover {
    transform: rotate(180deg);
    transition: 0.5s;
}

/*Recent posts*/
.recent_posts {
    background-color: #EDF7FA;
    padding-top: 7px;
    padding-bottom: 32px;
}

.rec_pos_container {
    max-width: 858px;
    margin: auto;
}

.rec_pos_head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}
.rec_pos_head a{
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #00A8CC;
}
.rec_pos_posts{
    display: flex;
    justify-content: space-between;
}
.post{
    width: 418px;
    background-color: #FFFFFF;
    padding: 24px 22px 7px 22px;
}
.post_h3{
    font-family: 'heebobold', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    color: #21243D;
    margin-bottom: 17px;
    width: 374px;

   }
.post_date{
    font-family: 'heeboregular', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #21243D;
    margin-right: 30px;

}
.post_tem::before {
    content: "|";
    height: 21px;
    color:#000000;
    margin-right: 25px;
   }
.post_tem{
    font-family: 'heeboregular', sans-serif;
    font-size: 18px;
    line-height: 26px;
    color: #21243D;

}
.post_text {
    font-family: 'heeboregular', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
    width: 370px;
    margin-top: 11px;
}

/*Featured works*/
.featured_works {
    padding-top: 15px;
    padding-bottom: 87px;
}

.featured_works div {
    max-width: 858px;
    margin: auto;
}

.fw_heading {
    font-family: 'heeboregular', sans-serif;
    font-size: 21px;
    line-height: 41px;
    color: #21243D;
    text-align: left;
}

.featured_works1 {
    display: flex;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 15px;
    margin-top: 30px;
}

.fw_d_img {
    max-width: 246px;
    height: 180px;
}

.fw_d_img img {

}

.fw_art {
    max-width: 612px;
    padding-left: 18px;
}

.des_das_h2 {
    font-family: 'heebobold', sans-serif;
    font-size: 30px;
    line-height: 44px;
    color: #21243D;
    margin-bottom: 16px;
}

.fw_data {
    font-family: 'heeboblack', sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    background: #142850;
    border-radius: 16px;
    height: 25px;
    width: 62px;
    text-align: center;
    padding-top: 3.5px;
    display: inline-block;
    margin: 0 26px 22px 0;
}

.fw_name {
    font-family: 'heeboregular', sans-serif;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;
}

.fw_description {
    font-family: 'heeboregular', sans-serif;
    font-size: 16px;
    line-height: 24px;
    width: 594px;

}

/*Form*/
.section2 {
    background: #000000;
    border-radius: 0;
    padding-top: 69px;
    padding-bottom: 22px;

}

.section2 div {
    max-width: 564px;
    margin: auto;
    text-align: center
}

.form_inp2, .form_inp1, #Budget, #Budget option, textarea {
    width: 100%;
    box-sizing: border-box;
    font-family: 'vollkornitalic', serif;
    font-size: 17px;
    line-height: 57px;
    color: #FFFFFF;
    border: none;
    padding: 0 30px;
}

.form_inp1 {
    background: rgba(255, 255, 255, 0.18);
}

/*.contact_form div:nth-child(2) input{*/
/*    background: rgba(255, 255, 255, 0.2);*/
/*}*/
.form_inp2 {
    background: rgba(255, 255, 255, 0.2);
}

#Budget, #Budget option {
    background: rgba(255, 255, 255, 0.18);
    height: 57px
}

#Budget option {
    color: #21243D;
}

.section2 form textarea {
    height: 127px;
    resize: none;
    line-height: 22px;
    background: rgba(255, 255, 255, 0.2);
    padding-top: 17px;
}

.section2 form button {
    font-family: 'vollkornitalic', serif;
    font-size: 17px;
    line-height: 22px;
    color: #8BCAC3;
    padding: 17px 60px;
    margin-top: 22px;
    background: #000000;
    border: solid 1px;
    border-color: #7EC4BD;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

/*Footer*/
footer {
    padding: 51px 0 54px;
}

footer div {
    max-width: content-box;
    margin: auto;
    text-align: center;
    color: #21243D;
}

footer p {
    font-family: 'heebomedium', sans-serif;
    font-size: 14px;
    line-height: 21px;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 26px;
}

footer ul li {
    padding: 0 17px;
}